@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-back-rgb: 214, 219, 220;
  --background-front-rgb: 237, 237, 237;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-back-rgb: 0, 0, 0;
    --background-front-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-back-rgb));
}

.bg-light-background {
  background-color: rgb(var(--background-front-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .menu-icon-hidden-md {
    @screen md {
      display: none !important;
    }
  }
}
